* {
  box-sizing: border-box;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct {
  color: green;
  text-align: center;
  font-weight: bolder;
}

.wrong {
  color: red;
  text-align: center;
  font-weight: bolder;
}
